#camera
{
	z-index: 0;
	text-align: center;
	width: 60%;
}
#canvas
{
	display: none;
}

#photo
{
	width: 80%;
	height: 80%;
}

#filters
{
	background-color: #FF00FF;
	float: right;
	position: relative;
	display: block;
	height: 40vmin;
	width: 40%;
	overflow-y: scroll;
}

#galerie
{
	display: none;
	text-align: center;
	align-items: center;
	align-content: center;
	margin: auto;
}

.gallery-img
{
	float:left;
	width: 20vw;
}

.img-ban
{
	background-color: #fff;
	opacity: 0.5;
	text-align: right;
	border-radius: 8px 8px 0 0;
}
