body
{
	background-color: #ffcf4b;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

header
{
	background-color: #f9b32f;
}

header a img
{
	width: 30vw;
}

footer
{
	text-align: center;
	position: fixed;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background-color: #f9b32f;
}

#bottom-btn
{
	position: relative;
	top: -16vw;
	width: 100vw;
}

#galerie
{
	display: none;
	text-align: center;
}

#filtres
{
	display: none;
	text-align: center;
}

#view
{
	text-align: center;
	width: 100vw;
}


.circle:before
{
	content: '\25C9';
	font-size: 15vw;
	opacity: 0.5;
	vertical-align: bottom;
	color: #FFFFFF;
	cursor:pointer;
	z-index: 10;
}

.parent-switch
{
	font-size: 16vh;
}

.parent-switch:before
{
	vertical-align: middle;
	background-color: inherit;
	position: absolute;
	top: 40vh;
	bottom: 43vh;
	z-index: 3;
}

.parent-switch:hover
{
	background-color: #f1892d;
	cursor:pointer;
}

#left-switch:before
{
	content: '\2039';
	left: 0px;
	border-radius: 0px 16px 16px 0px;
}

#right-switch:before
{
	content: '\203A';
	right: 0px;
	border-radius: 16px 0px 0px 16px;
}

h2
{
	text-decoration: underline;
}

.dk-bg
{
	background-color: #f9b32f;
}

#camera-zone
{
	overflow-y: scroll;
}

#camera-zone img
{
	max-width: 90vw;
	width: 100%;
	height: 100%;
	position: relative;
}

#stickers-edit
{
	position: relative;
	top: -16vmin;
}
