body
{
	background-color: #ffcf4b;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

header
{
	background-color: #f9b32f;
}

header a img
{
	width: 30vw;
}

footer
{
	text-align: center;
	position: fixed;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background-color: #f9b32f;
}

#bottom-btn
{
	position: relative;
	top: -21vw;
	width: 100vw;
}

#galerie
{
	display: none;
	text-align: center;
}

#filtres
{
	display: none;
	text-align: center;
}

#view
{
	text-align: center;
}


.circle:before
{
	content: '\25C9';
	font-size: 20vw;
	opacity: 0.5;
	vertical-align: bottom;
	color: #FFFFFF;
	cursor:pointer;
	z-index: 10;
}

.parent-switch
{
	font-size: 16vh;
}

.parent-switch:before
{
	vertical-align: middle;
	background-color: inherit;
	position: absolute;
	top: 40vh;
	bottom: 43vh;
	z-index: 3;
}

.parent-switch:hover
{
	background-color: #f1892d;
	cursor:pointer;
}

#left-switch:before
{
	content: '\2039';
	left: 0px;
	border-radius: 0px 16px 16px 0px;
}

#right-switch:before
{
	content: '\203A';
	right: 0px;
	border-radius: 16px 0px 0px 16px;
}

h2
{
	text-decoration: underline;
}

.dk-bg
{
	background-color: #f9b32f;
}

#art-car
{
	position: fixed;
	bottom: 16px;
	left: 0px;
	right: 0px;
}

#carousel
{
	list-style: none;
	text-align: center;
}

#carousel li
{
	vertical-align: middle;
	background-color: #F39C12;
	display: inline-block;
	border-radius: 50%;
	width: 16px;
	height: 16px;
	cursor: pointer;
}
#carousel li.selected
{
	background-color: #e67e22;
	width: 24px;
	height: 24px;
}

#camera-zone img
{
	max-width: 90vw;
	width: 100%;
	height: 100%;
	position: relative;
}

#stickers-edit
{
	position: relative;
	top: -16vmin;
}

#not-logged
{
	background-color: RGBA(128, 128, 128, 0.5);
	font-size: 6vmin;
	position: fixed;
	width: 200vw;
	left: -50vw;
	top: 48vh;
	z-index: 20;
	text-decoration: underline;
	animation: rainbowColor 5s infinite linear;

	-ms-transform: rotate(25deg); /* IE 9 */
	-webkit-transform: rotate(25deg); /* Chrome, Safari, Opera */
	transform: rotate(25deg);
}

@keyframes rainbowColor {
	0%   {color: red; }
    25%  {color: yellow; }
    50%  {color: blue; }
    75%  {color: green; }
    100% {color: red; }
}

/* Chrome, Safari, Opera */
@-webkit-keyframes rainbowColor {
    0%   {color: red; }
    25%  {color: yellow; }
    50%  {color: blue; }
    75%  {color: green; }
    100% {color: red; }
}
