footer
{
	position: absolute;
	bottom: 0px;
	text-align: center;
	width: 100%;
	box-shadow: -1px 0px 4px 0 black;
}

header
{
	width: 100%;
	position: absolute;
	top: 0px;
	display: inline-block;
	box-shadow: 1px 0px 4px 0 black;
}

.main-title
{
	height: 64px;
}

ul.no-style
{
	list-style: none;
}
ul.no-style li
{
	display: inline-block;
}

body
{
	margin: auto;
	background-color: #bdccdb;
}

#main-container
{
	position: absolute;
	top: 80px;
	bottom: 80px;
	left: 16px;
	right: 16px;
	text-align: center;
}
#main-menu
{
	float: right;
	text-align: right;
	position: relative;
	right: 1%;
	height: 32px;
}

#main-menu ul, #main-menu ul li, #main-menu ul li
{
	font-size: 20px;
	list-style: none;
	display: inline-block;
	vertical-align: middle;
}

h1
{
	text-decoration: underline;
}

.p10 { position: relative; width: 10%; }
.p20 { position: relative; width: 20%; }
.p30 { position: relative; width: 30%; }
.p40 { position: relative; width: 40%; }
.p50 { position: relative; width: 50%; }
.p60 { position: relative; width: 60%; }
.p70 { position: relative; width: 70%; }
.p80 { position: relative; width: 80%; }
.p90 { position: relative; width: 90%; }
.p100 { position: relative; width: 100%; }
